body {
  font-family: 'rajdhani', system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

main {
  width: min(100% - 20%);
  max-width: 2440px;
  margin-inline: auto;
}

img, svg, video {
  max-width: 100%;
  display: block;
}

.bg-deltaquad {
  background-image: url('./assets/images/landing-drone.jpeg');
  background-position: right center;
  mix-blend-mode: multiply;
  z-index: 0;
}

.vertical-align {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}