body {
  font-family: 'rajdhani', system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

main {
  width: min(100% - 20%);
  max-width: 2440px;
  margin-inline: auto;
}

img, svg, video {
  max-width: 100%;
  display: block;
}

.bg-deltaquad {
  background-image: url('./assets/images/landing-drone.jpeg');
  background-position: right center;
  mix-blend-mode: multiply;
  z-index: 0;
}

.vertical-align {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}


.image-container{
  position: relative;
  display: inline-block;
}
.image-container::before{
  content: '';
  position: absolute; 
  border: solid 1px red;
  width: 100%;
  height: 100%;
  left: 14px; /* This will be your box shadow x-offset; */
  top: 14px; /* This will be your box shadow y-offset; */
  z-index: -1;
}