body {
  font-family: 'rajdhani', system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

main {
  width: min(100% - 20%);
  max-width: 2440px;
  margin-inline: auto;
}

img, svg, video {
  max-width: 100%;
  display: block;
}

.bg-deltaquad {
  background-image: url('./assets/images/deltaquad-pro.jpeg');
  background-position: left center;
  mix-blend-mode: multiply;
  overflow-x: hidden;
  z-index: 0;
  max-width: 100%;
}

.vertical-align {
  position: absolute;
  top: 20%;
  padding-top:-50%;
  overflow: hidden;
  z-index: 1;
}